.notifications {
    border: 2px dotted #e1003c;
    padding-left: 10px;
    font-size: 14px;
    font-family: sans-serif;
}

.notifications li {
    cursor: pointer;
}

.notifications button img {
    width: 10px;
    height: 10px;
}

.notifications button {
    position: absolute;
    top : 10px;
    right: 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.urgent-notification {
    color: #e1003c;
}

.default-notification {
    color: blue;
} 
